<!DOCTYPE html>
<html lang="en">
<!doctype html>
<head>
	<meta charset="utf-8">
	<title>DIY材木計算機 - キエーロ神山クラブ</title>

  <!-- Edit site and author settings in `_config.yml` to make the social details your own -->

    <meta content="キエーロ神山クラブ" property="og:site_name">
  
    <meta content="DIY材木計算機" property="og:title">
  
  
    <meta content="article" property="og:type">
  
  
    <meta content="有志で神山町内のキエーロ普及推進をしているキエーロ神山クラブです。キエーロという生ゴミを高効率に分解するバイオリアクターの設計とDIYキット販売をしています。
" property="og:description">
  
  
    <meta content="http://0.0.0.0:4000/002-generator/" property="og:url">
  
  
    <meta content="2020-04-03T00:00:00+09:00" property="article:published_time">
    <meta content="http://0.0.0.0:4000/about/" property="article:author">
  
  
    <meta content="http://0.0.0.0:4000/assets/img/making/120-part-roof.png" property="og:image">
  
  
    
  
  
    
    <meta content="Software" property="article:tag">
    
  

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@">
    <meta name="twitter:creator" content="@kiero12473847">
  
    <meta name="twitter:title" content="DIY材木計算機">
  
  
    <meta name="twitter:url" content="http://0.0.0.0:4000/002-generator/">
  
  
    <meta name="twitter:description" content="有志で神山町内のキエーロ普及推進をしているキエーロ神山クラブです。キエーロという生ゴミを高効率に分解するバイオリアクターの設計とDIYキット販売をしています。
">
  
  
    <meta name="twitter:image:src" content="http://0.0.0.0:4000/assets/img/making/120-part-roof.png">
  

	<meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta property="og:image" content="">
	<link rel="shortcut icon" href="/assets/img/favicon/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="/assets/img/favicon/apple-touch-icon.png">
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#263959">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#263959">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#263959">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <!-- Bootstrap v5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- Font Awesome -->
	<link rel="stylesheet" href="/assets/fonts/font-awesome/css/font-awesome.min.css">
	<!-- Styles -->
	<link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>

  <div class="wrapper">
    <aside class="sidebar">
  <header>
    <div class="about">
      <div class="cover-author-image">
        <a href="/"><img src="/assets/img/kms-kiero.jpg" alt="キエーロ神山クラブ"></a>
      </div>
      <div class="author-name">キエーロ神山クラブ</div>
      <p>有志で神山町内のキエーロ普及推進をしているキエーロ神山クラブです。キエーロという生ゴミを高効率に分解するバイオリアクターの設計とDIYキット販売をしています。キエーロ神山クラブは、神山メイカースペースが中心となって運営しています。</p>
    </div>
  </header> <!-- End Header -->
  <footer>
    <section class="logo">
      <a href="http://kamiyama-cedar.jp">
        <img src="/assets/img/kamiyamacedar_300x300.png" alt="kamiyama cedar logo" />
      </a>
    </section>
    <section class="contact">
      <h3 class="contact-title">Contact me</h3>
      <ul>
        
          <li><a href="https://twitter.com/kiero12473847" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        
        
          <li><a href="https://facebook.com/KamiyamaMakerspace" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        
        <!-- 
          <li class="github"><a href="http://github.com/" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
        
        
          <li class="linkedin"><a href="https://in.linkedin.com/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
         -->
        
          <li class="email"><a href="mailto:kiero@digisiki.com"><i class="fa fa-envelope-o"></i></a></li>
        
      </ul>
    </section> <!-- End Section Contact -->
    <div class="copyright">
      <p>2022 &copy; キエーロ神山クラブ produced by デジ式</p>
    </div>
  </footer> <!-- End Footer -->
</aside> <!-- End Sidebar -->
<div class="content-box clearfix">
  <article class="article-page">
  <div class="page-content">
    
    <div class="page-cover-image">
      <figure>
        <img class="page-image" src=/assets/img/making/120-part-roof.png alt="DIY材木計算機">
        
      </figure>
    </div> <!-- End Page Cover Image -->
    
    <div class="wrap-content">
      <header class="header-page">
        <h1 class="page-title">DIY材木計算機</h1>
        <div class="page-date"><span>2020, Apr 03&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
      </header>

      <script src="https://www.promisejs.org/polyfills/promise-7.0.4.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    
        <div id="app">
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">横幅(mm)</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control"  v-model="input_width">
                </div>
                <label class="col-sm-2 col-form-label">奥行き(mm)</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control"  v-model="input_depth">
                </div>
                <label class="col-sm-2 col-form-label">高さ(mm)</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control"  v-model="input_height">
                </div>
            </div>

            <div class="accordion accordion-flush" id="accordionFlushExample2">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-kierodetails" aria-expanded="true" aria-controls="flush-kierodetails">
                        寸法の詳細設定
                      </button>
                    </h2>
                    <div id="flush-kierodetails" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample2">
                      <div class="accordion-body">
                        <div class="mb-3 row">
                              <label class="col-sm-4 col-form-label">ハコ足の長さ</label>
                              <div class="col-sm-8">
                              <input type="text" class="form-control"  v-model="input_leg">
                              </div>
                          </div>
                          <div class="mb-3 row">
                              <label class="col-sm-4 col-form-label">ハコ側ヒンジの高さ</label>
                              <div class="col-sm-8">
                              <input type="text" class="form-control"  v-model="input_backheight">
                              </div>
                          </div>
                          <div class="mb-3 row">
                              <label class="col-sm-4 col-form-label">角材の太さ</label>
                              <div class="col-sm-8">
                              <input type="text" class="form-control"  v-model="input_pillar">
                              </div>
                          </div>
                          <div class="mb-3 row">
                              <label class="col-sm-4 col-form-label">板材の厚み</label>
                              <div class="col-sm-8">
                              <input type="text" class="form-control"  v-model="input_thickness">
                              </div>
                          </div>
                      </div>
                    </div>
                  </div>

                  <div class="accordion accordion-flush" id="accordionFlushExample">
                  <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
                      価格表指定
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="mb-3 row">
                            <label class="col-sm-4 form-check-label" for="output_pricelist">
                            価格表（仮）を出力する
                            </label>
                            <input class="col-sm-8 form-check-input" type="checkbox" id="show_pricelist" v-model="show_pricelist">
                        </div>

                        <div class="mb-3 row">
                            <label class="col-sm-4 col-form-label">金具パーツの代金</label>
                            <div class="col-sm-8">
                            <input type="text" class="form-control"  v-model="input_metals">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-4 col-form-label">クリア波板の代金</label>
                            <div class="col-sm-8">
                            <input type="text" class="form-control"  v-model="input_roofs">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-4 col-form-label">ワークショップ参加費用</label>
                            <div class="col-sm-8">
                            <input type="text" class="form-control"  v-model="input_fee_workshop">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-4 col-form-label">設計料</label>
                            <div class="col-sm-8">
                            <input type="text" class="form-control"  v-model="input_fee_design">
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
            </div>

            <div class='nav justify-content-end'>
                <button v-on:click="click_make_materialas" class="btn btn-primary m-1">
                    計算する
                </button>
                <button v-on:click="copy_to_clipboard" class="btn btn-outline-primary m-1">
                    コピー
                </button>
            </div>
        
            <div class='field_projection' id="projection">
                <!-- The button used to copy the text -->
                <div id="text_overview">
                </div>
                <div id="text_materials" class="materials">
<pre id="pre_materials" v-show="show_materials">
▼キエーロ（本体ハコ部分）のサイズ
  横幅: {{overview.width}} mm
  奥行き: {{overview.depth}} mm
  高さ: {{overview.height}} mm

{{ materials.join('\n') }}
</pre>
                </div>
                <div id="text_pricelist" class="pricelist">

                    <pre id="pre_pricelist" v-show="show_pricelist">
{{ pricelist.join('\n') }}

※木材の見積もり価格は仮の価格です。実際の価格は購入先にお問い合わせください。
</pre>

</div>
            </div>
        </div>
    </div>

<script>
var app = new Vue({
    el: '#app',
    data: function(){
        return {
            materials: [],
            pricelist: [],
            overview: [],
            input_width: 1000,
            input_depth: 500,
            input_height: 480,
            input_leg: 100,
            input_backheight: 150,
            input_pillar: 40,
            input_metals: 0,
            input_fee_workshop: 0,
            input_fee_design: 0,
            input_roofs: 0,
            input_thickness: 18,
            show_materials: true,
            show_pricelist: false,
            flg_initial_loading: false,
            cb_show_pricelist: false
        };
    },
    computed: {
        api_url: function () {
            const materials = this.show_materials ? '1' : '0'
            const pricelist = this.show_pricelist ? '1' : '0'
            return `https://7s8eqyv5w4.execute-api.ap-northeast-1.amazonaws.com/dev/ground/fulltext?width=${this.input_width}&depth=${this.input_depth}&height=${this.input_height}&leg=${this.input_leg}&backheight=${this.input_backheight}&pillar=${this.input_pillar}&thickness=${this.input_thickness}&pricelist=${pricelist}&fee_workshop=${this.input_fee_workshop}&fee_design=${this.input_fee_design}&roofs=${this.input_roofs}`
        },
    },
    methods: {
        click_make_materialas: function (){
            console.log("make_materials(): " + this.api_url)
            // this.show_materials = true;
            // this.show_pricelist = true;
            this.set_get_params()

            let self = this;
            axios
                // .get('https://7s8eqyv5w4.execute-api.ap-northeast-1.amazonaws.com/dev/ground/fulltext?width=1000&depth=600&height=240&leg=100&backheight=150&pillar=30&thickness=10')
                .get(this.api_url)
                .then(function(response) {
                    console.log(response.data);
                    if('fulltext' in response.data){
                        if('materials' in response.data.fulltext){
                            self.materials = response.data.fulltext.materials;
                        } 
                        if('pricelist' in response.data.fulltext){
                            self.pricelist = response.data.fulltext.pricelist;
                        } 
                    }
                    if('overview' in response.data){
                        self.overview = response.data.overview;
                    }
                })
                .catch(function(error) {
                    console.log('取得に失敗しました。', error);
                })
        },
        copy_to_clipboard: function () {
            let copyMaterials = document.getElementById("text_materials");
            let copyPricelist = document.getElementById("text_pricelist");
            navigator.clipboard.writeText(copyMaterials.textContent + copyPricelist.textContent);
            alert("資材一覧をクリップボードにコピーしました"); 
        },
        get_param: function (name, url){
            if (!url){
                url = window.location.href;
            }
            name = name.replace(/[\[\]]/g, "\\$&");
            let regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        },
        set_get_params: function(){
            let params = [];
            params.push('width=' + this.input_width);
            params.push('depth=' + this.input_depth);
            params.push('height=' + this.input_height);
            params.push(this.show_pricelist ? 'pricelist=1' : 'pricelist=0');

            this.input_leg != 100 ? params.push('leg=' + this.input_leg) : false;
            this.input_backheight != 150 ? params.push('backheight=' + this.input_backheight) : false;
            this.input_pillar != 40 ? params.push('pillar=' + this.input_pillar) : false;
            this.input_thickness != 18 ? params.push('thickness=' + this.input_thickness) : false;
            this.input_fee_workshop != 0 ? params.push('fee_workshop=' + this.input_fee_workshop) : false;
            this.input_fee_design != 0 ? params.push('fee_design=' + this.input_fee_design) : false;
            this.input_roofs != 0 ? params.push('roofs=' + this.input_roofs) : false;

            // window.location.href = '?' + params.join('&');
            window.history.replaceState(null, null, '?' + params.join('&'))

        },
        set_input_param: function (get_key, default_value){
            let value = this.get_param(get_key)
            if(value !== null){
                this.flg_initial_loading = true;
                return value;
            }

            return default_value

        }
    },
    mounted: function() {
        // let width = this.get_param('width')
        // if(width !== null){
        //     this.input_width = width;
        //     flg_initial_loading = true;
        // }
        this.input_width = this.set_input_param('width', this.input_width)
        this.input_depth = this.set_input_param('depth', this.input_depth)
        this.input_height = this.set_input_param('height', this.input_height)
        this.input_leg = this.set_input_param('leg', this.input_leg)
        this.input_backheight = this.set_input_param('backheight', this.input_backheight)
        this.input_pillar = this.set_input_param('pillar', this.input_pillar)
        this.input_thickness = this.set_input_param('thickness', this.input_thickness)

        this.show_materials = this.set_input_param('materials', this.show_materials) == '1' ? true : false;
        this.show_pricelist = this.set_input_param('pricelist', this.show_pricelist) == '1' ? true : false;
        this.input_fee_workshop = this.set_input_param('fee_workshop', this.input_fee_workshop)
        this.input_fee_design = this.set_input_param('fee_design', this.input_fee_design)
        this.input_roofs = this.set_input_param('roofs', this.input_roofs)
        this.input_metals = this.set_input_param('metals', this.input_metals)

        if(this.flg_initial_loading){
            this.click_make_materialas(this.api_url);
        }

    }
});
</script>
    

    <h2 id="diy材木計算機について">DIY材木計算機について</h2>

<p>この計算機はキエーロのDIYに必要な寸法で板材と角材のリストを出力します。</p>

<p>下記の手順でご利用ください。</p>

<ol>
  <li>キエーロを設置したい場所の幅、奥行きを計測します。</li>
  <li>作成するキエーロの幅・奥行き・高さをフォームに入力します。</li>
  <li>『計算する』ボタンを押します。</li>
  <li>計算済みの材料リストを手がかりにホームセンターや製材所で材木を購入します。</li>
  <li><a target="_blank_" href="/how-to-build-kt">組み立て手順</a>に従って組み立てます。</li>
</ol>

<p>必要な金具・工具なども<a target="_blank_" href="/how-to-build-kt">組み立て手順</a>をご覧ください。</p>

<!--more-->

<h2 id="資材番号の対応表">資材番号の対応表</h2>

<p>材木リストに記載の番号は、それぞれ下図の番号と対応しています。組み立ての参考にしてください。</p>

<p><img src="/assets/img/making/120-part-roof.png" alt="フタ部分_番号付き" style="width:60%; min-width: 240px;" /></p>

<p><img src="/assets/img/making/95-partnumber-box.png" alt="ハコ部分_番号付き" style="width:120%; min-width: 240px;" /></p>

<!-- 

## ソース公開

キエーロの設計を簡単にする設計図ジェネレータをオープンソースとして公開しています。

<a target="_blank_" href="https://github.com/motohasystem/kms_kiero">github - motohasystem/kms_kiero</a>
 -->


    </div> <!-- End Wrap Content -->
  </div> <!-- End Page Content -->
</article> <!-- End Article Page -->

</div>

  </div>
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-163765673-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-163765673-1');
</script>

</body>
</html>
